:root{
    --blue: #1e90ff;
    --yellow:rgb(255, 196, 0);
    --orange:rgb(255, 60, 0);
    --byellow:rgb(255, 230, 0);
    --borange:rgb(255, 145, 0);
    --greyish:rgb(218, 133, 100);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .leftCol,.rightCol{
    position:absolute;
    top:0;
    left:0;
    width:20vw;
    height:100vh;
    border-right:4px solid #1e90ff;
    background-image: url("assets/rain2.gif");
    background-size: cover;
  
  }
  
  .rightCol{
    left:80vw;
    border-left: 4px solid #1e90ff;
    border-right: none;
  }
  
  .container {
    width: 60vw;
    height: 100vh;
    background-color: #020f1fe7;
    background-image: url("./assets/back.gif");
    background-repeat: no-repeat;
    background-size: 60vw 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 200px 100px;
  }

  .container>div{
      width: 100px;
      height:100px;
      margin: 100px;
      background-color: rgb(5, 34, 58);
      text-align: center;
      align-items: center;
  }