:root{
    --blue: #1e90ff;
    --yellow:rgb(255, 196, 0);
    --orange:rgb(255, 60, 0);
    --byellow:rgb(255, 230, 0);
    --borange:rgb(255, 145, 0);
    --greyish:rgb(218, 133, 100);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image: url("./assets/back.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .audio{
    width: 40px;
    height: 40px;
    position: absolute;
    top:20px;
    left:20px;
    background-color: #6e12d8;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor:pointer;
  }

  .head{
    font-size:100px;
    font-weight:bolder;
    position: absolute;
    top :20px;
    font-family: 'Luckiest guy', cursive;
    color: #6e12d8;
    text-shadow:5px 10px 2px rgb(224, 21, 214);
  }

  .home{
    width: 40px;
    height: 40px;
    left:80px;
  }

  .leftCol,.rightCol{
    position:absolute;
    top:0;
    left:0;
    width:20vw;
    height:100vh;
    border-right:4px solid #1e90ff;
    background-image: url("assets/rain2.gif");
    background-size: cover;

  }

  .rightCol{
    left:80vw;
    border-left: 4px solid #1e90ff;
    border-right: none;
  }

  .container {
    width: 60vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 200px 100px;
  }

  .container>a{
      width: 150px;
      height:150px;
      margin: 100px;
      background-color: rgb(78, 0, 114);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: beige;
      font-size: larger;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border-radius: 8px;
      font-weight: 600;
      background-image: url("./assets/ship.png");
      background-size:cover;
      background-repeat: no-repeat;
  }